{% extends 'base.html' %}
<!---->
{% block title %} หน้าแรก {% endblock title %}
<!---->
{% block content %}
<!---->
<table class="table">
  <thead>
    <tr>
      <th scope="col">รหัสรายวิชา</th>
      <th scope="col">ชื่อรายวิชา</th>
      <th scope="col">หน่วยกิต</th>
      <th scope="col">ภาคการศึกษา</th>
      <th scope="col">ปีการศึกษา</th>
      <th scope="col">หมวดรายวิชา</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      <td>{{ course.code }}</td>
      <td>{{ course.title }}</td>
      <td>{{ course.credit }}</td>
      <td>{{ course.Semester }}</td>
      <td>{{ course.year }}</td>
      <td>{{ course.category }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}